In [2]:
import mysql.connector
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="njc"
)

In [3]:
mycursor=mydb.cursor()

# Creating movie table

In [ ]:
mycursor.execute("CREATE TABLE movie(name varchar(255), actor varchar(255), actress varchar(255), director varchar(255), year int(10))")

# Inserting rows values in the table

In [5]:
sql="INSERT INTO movie(name, actor, actress, director, year) values(%s,%s,%s,%s,%s)"
val=[
    ("Agent Sai Srinivasa Athreya","Naveen Polishetty","Shruti Sharma","Swaroop RSJ",2019),
    ("kaththi","Vijay","Samantha","A.R.Murugadoss",2014),
    ("Thuppaki","Vijay","Kajal Agarwal","A.R.Murugadoss",2012),
    ("Thittam Irandu","Subash Selvam","Aishwarya Rajesh","Karthick Vignesh",2021),
    ("Soorarai Potru","Suriya","Aparna balamurali","Sudha Kongara",2020),
    ("A Quiet Place","John Krasinski","Emily Blunt","John Krasinski",2018),
    ("Awe","Prashanth Varma","Kajal","Srinivas Avasarala",2018),
    ("Asuran","Dhanush","Manju Warrier","Vetrimaaran",2019),
    ("Petta","Rajinikanth","Simran","Karthik Subbaraj",2019),
    ("Vikram Vedha","Madhavan","Shraddha Srinath","Pushkar–Gayathri",2017),
    ("Kuttram 23","Arun Vijay"," Mahima Nambiar","Arivazhagan",2017)]
mycursor.executemany(sql, val)

# Retrieving all rows in the table

In [7]:
mycursor.execute("SELECT * FROM movie")
result=mycursor.fetchall()
for i in result:
    print(i)
    print("\n")

('Agent Sai Srinivasa Athreya', 'Naveen Polishetty', 'Shruti Sharma', 'Swaroop RSJ', 2019)


('kaththi', 'Vijay', 'Samantha', 'A.R.Murugadoss', 2014)


('Thuppaki', 'Vijay', 'Kajal Agarwal', 'A.R.Murugadoss', 2012)


('Thittam Irandu', 'Subash Selvam', 'Aishwarya Rajesh', 'Karthick Vignesh', 2021)


('Soorarai Potru', 'Suriya', 'Aparna balamurali', 'Sudha Kongara', 2020)


('A Quiet Place', 'John Krasinski', 'Emily Blunt', 'John Krasinski', 2018)


('Awe', 'Prashanth Varma', 'Kajal', 'Srinivas Avasarala', 2018)


('Asuran', 'Dhanush', 'Manju Warrier', 'Vetrimaaran', 2019)


('Petta', 'Rajinikanth', 'Simran', 'Karthik Subbaraj', 2019)


('Vikram Vedha', 'Madhavan', 'Shraddha Srinath', 'Pushkar–Gayathri', 2017)


('Kuttram 23', 'Arun Vijay', ' Mahima Nambiar', 'Arivazhagan', 2017)

# Printing a rows using where codintions

In [11]:
mycursor.execute("SELECT * FROM movie WHERE director='A.R.Murugadoss'")
result1=mycursor.fetchall()
for i in result1:
    print(i)
    print("\n")

('kaththi', 'Vijay', 'Samantha', 'A.R.Murugadoss', 2014)


('Thuppaki', 'Vijay', 'Kajal Agarwal', 'A.R.Murugadoss', 2012)

# Retrieving only rows with actors having "v" in the name

In [12]:
mycursor.execute("SELECT * FROM movie WHERE actor LIKE '%V%'")
result2=mycursor.fetchall()
for i in result2:
    print(i) 
    print("\n")

('Agent Sai Srinivasa Athreya', 'Naveen Polishetty', 'Shruti Sharma', 'Swaroop RSJ', 2019)


('kaththi', 'Vijay', 'Samantha', 'A.R.Murugadoss', 2014)


('Thuppaki', 'Vijay', 'Kajal Agarwal', 'A.R.Murugadoss', 2012)


('Thittam Irandu', 'Subash Selvam', 'Aishwarya Rajesh', 'Karthick Vignesh', 2021)


('Awe', 'Prashanth Varma', 'Kajal', 'Srinivas Avasarala', 2018)


('Vikram Vedha', 'Madhavan', 'Shraddha Srinath', 'Pushkar–Gayathri', 2017)


('Kuttram 23', 'Arun Vijay', ' Mahima Nambiar', 'Arivazhagan', 2017)

# Printing rows in descending order of years

In [13]:
mycursor.execute("SELECT * FROM movie ORDER BY year DESC")
result3=mycursor.fetchall()
for i in result3:
    print(i)
    print("\n")

('Thittam Irandu', 'Subash Selvam', 'Aishwarya Rajesh', 'Karthick Vignesh', 2021)


('Soorarai Potru', 'Suriya', 'Aparna balamurali', 'Sudha Kongara', 2020)


('Agent Sai Srinivasa Athreya', 'Naveen Polishetty', 'Shruti Sharma', 'Swaroop RSJ', 2019)


('Asuran', 'Dhanush', 'Manju Warrier', 'Vetrimaaran', 2019)


('Petta', 'Rajinikanth', 'Simran', 'Karthik Subbaraj', 2019)


('A Quiet Place', 'John Krasinski', 'Emily Blunt', 'John Krasinski', 2018)


('Awe', 'Prashanth Varma', 'Kajal', 'Srinivas Avasarala', 2018)


('Vikram Vedha', 'Madhavan', 'Shraddha Srinath', 'Pushkar–Gayathri', 2017)


('Kuttram 23', 'Arun Vijay', ' Mahima Nambiar', 'Arivazhagan', 2017)


('kaththi', 'Vijay', 'Samantha', 'A.R.Murugadoss', 2014)


('Thuppaki', 'Vijay', 'Kajal Agarwal', 'A.R.Murugadoss', 2012)

In [14]:
mycursor.execute("SELECT * FROM movie limit 5 offset 3")
result4=mycursor.fetchall()
for i in result4:
    print(i)
    print("\n")

('Thittam Irandu', 'Subash Selvam', 'Aishwarya Rajesh', 'Karthick Vignesh', 2021)


('Soorarai Potru', 'Suriya', 'Aparna balamurali', 'Sudha Kongara', 2020)


('A Quiet Place', 'John Krasinski', 'Emily Blunt', 'John Krasinski', 2018)


('Awe', 'Prashanth Varma', 'Kajal', 'Srinivas Avasarala', 2018)


('Asuran', 'Dhanush', 'Manju Warrier', 'Vetrimaaran', 2019)